.container {
    min-height: 100vh;
    width: 100%;
    max-width: 992px;
    margin: 30px auto 0;
    padding: 2.5rem 2rem;
    display: flex;
    flex-direction: column;
}

.filterOn {
    filter: blur(2px);
}

.container > section {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6.25rem;
    align-content: center;
    margin-top: 50px;
}

@media screen and (max-width: 850px) {
    .container > section {
        grid-template-columns: 1fr;
        gap: 0rem;
        row-gap: 6.25rem;
    }
}

@media screen and (max-width: 500px) {
    
}
